.home {
  width: 100%;
  background-color: red;
}

.home__content {
  margin: 100px auto 0;
  box-sizing: border-box;
  width: 880px;
  background-color: #ede8e9;
}

@media screen and (max-width: 850px) {
  .home__content {
    margin-top: 20px;
  }
}